@{
    ViewBag.Title = "Index";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            background-color: lightgrey;
        }
    </style>
</head>

<body ng-app="CryptoApp">

    <div ng-controller="blogController as bc">


        <div class="jumbotron text-center">
            <h1>Crypto News</h1>
            
        </div>

        <div class="container-fluid">
            <div class="row">
                
                    <div class="col-md-5" ng-repeat="itm in bc.articleModel">
                        <p ng-bind-html="itm"></p>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script src="~/Scripts/App/Controller/blogService.js"></script>
    <script src="~/Scripts/App/Controller/blogController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script> 
</body>